body {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
    color: #434455;
}
ul, li {
    list-style-type: none;
}
.navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.navigation >a {
    text-decoration: none;
    }
.container-top {
    display: flex;
    align-items: block;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
.top-line {
    border-bottom: 1px solid #e7e9fc;
    background: #FFF;
}
.logo {
    font-family: "Raleway", sans-serif;
    color:#4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    display: block;
}
.navigation-menu {
    display: flex;
    gap: 40px;
}
.logo:hover {
    color: #404bbf;
}
.logo:focus {
    color: #404bbf;
}
.logo-studio {
    color: #2E2F42;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1; 
    text-transform: uppercase;
    
}
.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
    display: block;
}
.link:hover,
.link:focus {
    color: #404bbf;
} 
.address-class {
    font-style: normal;
    margin-left: auto;
}
.address-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}
.contacts-information-links {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    flex-direction: inline;
    padding: 24px 0;
    text-align: center;
    padding-right: 0;

    }
    .contacts-information-links:hover,
    .contacts-information-links:focus {
        color: #404bbf;
    }
.section-one {
    background: #2E2F42;
    padding-top: 188px; 
    padding-bottom: 188px;
}
.section-one-tittle {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}
.section-one-button {
    background: #4D5AE5;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    }
.section-one-button:hover {
    background-color: #404BBF;
}
.section-one-button:focus {
    background-color: #404BBF; 
}
.button-name {
color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
}
.section-two {
    padding: 120px 0;
    background: #FFF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-two-tittles {
    color: #2E2F42; 
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px; 
}
.section-two-list {
    display: flex;
    gap: 24px;
}
.section-two-list-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: calc((100% - 72px) / 4);
}
.section-two-list-item:last-child {
    margin-right: 0;
}
.section-two-paragraphs {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.section-three {
    background: #F4F4FD;
    padding: 120px 0;
}
.section-three-tittle {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px; 
}
.section-three-list {
    display: flex;     
    gap: 24px;
}
.section-three-photo {
    background: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px; 
}
.section-three-position {
    padding: 32px 0;
    }
.section-three-photo-tittle {
    color:#2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.section-three-photo-position {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    text-align: center; 
}
.section-four {
    background: #FFF;
    padding: 120px 0 120px 0;
}
.section-four-list  {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; 
}
.section-four-tittle {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px; 
}
.section-four-photo {
    background: #FFF;  
    width: calc((100% - 48px) / 3);
}
.section-four-photo-name {
    color: #2E2F42;
    font-size: 20px; 
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.section-four-photo-paragraph {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-four-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
}
.conclusion {
    background:#2E2F42;
    padding: 100px 0;
}
.logo-two {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px; 
} 
.logo-studio-concl {
    font-family: "Raleway", sans-serif;
    color: #f4f4fd;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
} 
.conclusion-paragraph {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
img {
    display: block;
}
ul {
    padding-left: 0;
    margin-top: 0;   
    margin-bottom: 0; 
}
p, h1, h2, h3 {
    margin: 0;
}
}